/* src/App.css */
.app {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1280px;
  margin: auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;
  padding: 10px;
}

